.bg-purple {
    background-color: #3028d3 !important;
}
.App {
    margin: 0 !important;
    padding: 0 !important
}
#myVideo {
    position: fixed;
    filter: blur(4px) grayscale(50%);
    /* filter:  */
    margin:  0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;

}
.video-cover {
    margin: 0;
    padding: 0
}

.content {
  position: fixed;
  bottom: 45%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px;
    /* font-family: 'Play', sans-serif; */
}

.content h1 .p-ini {
    font-size: 76px;
}

.content button {
    display: table; margin: 0 auto;
}

@media screen {
    
}

.modal-close {
    cursor:  pointer;
}

.font-family-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.pl-24 {
    padding-left: 24px;
}

.m-auto {
    margin: 0 auto
}

.py-m-2 {
    padding: -2px 0;
}
.no-xmargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
}

.display-7 {
    font-size: 2.0rem;
}